<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/create">Create new listing...</a>
    <div class="inventory--container">
      <h4>Here are some items we have available...</h1>
        <% for(var i=0; i<items.length; i++) {%>
          <li class="item">
            <a href="item/<%= items[i]._id %>">
              <div><%= items[i].name %></div>
              <div>$<%= items[i].price %></div>
            </a>
          </li>
        <% } %>
    </div>
  </body>
</html>
